.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

h1 {
	color: white;
}

.main-page {
	text-align: center;
	font-size: 28px;
	color: white;

}

#main-title {
	font-size: 90px;
	letter-spacing: 4px;
	color: white;
}

#ip {
	font-size: 40px;
	font-weight: bold;
	color: white;
}

body { 
  padding-top: 3%;
  padding-right: 0px !important;
  max-height: 140px;
  background-color: #f0f0f0;
  background: url("./content/bk3.jpg") no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#pixie {
  z-index:10;
  position: absolute;
  top: 0;
  left: 0;
}
