.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

h1 {
  color: white;
}

* {
  text-align: center;
}

.main-page {
  text-align: center;
  font-size: 28px;
  color: white;
  text-shadow: 2px 2px #20074f;
}

.row {
  text-align: center;
  float: none;
}

#main-title {
  font-size: 90px;
  letter-spacing: 4px;
  color: white;
  text-shadow: 6px 6px #20074f;
}

#ip {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 4px #20074f;
  letter-spacing: 2px;
}

html, body {
  height: 100%;
}

.gradientbk {
  background: -moz-linear-gradient(90deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, rgba(255,255,255,1)), color-stop(59%, rgba(254,254,255,1)), color-stop(99%, rgba(237,238,255,1)), color-stop(100%, rgba(237,238,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* ie10+ */
  background: linear-gradient(0deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EDEEFF',GradientType=0 ); /* ie6-9 */
}

.bg {
  padding-top: 5%;
  background-image: url("./content/bk3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#pixie {
  top: 0;
  left: 0;
  max-height: 100%;
  position: absolute;
}

#arrowdown {
  height: 50px;
  width: 50px;
  text-align: center;
  margin-top: 40px;
}

.hometext {
  position: absolute;
  text-align: center;
  width: 100%;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

#iptext {
  visibility: hidden;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#video1, #video2, #video3, #video4 {
  text-align: center;
  border-radius: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  max-width: 100%;
}

#video1:hover, #video2:hover, #video3:hover, #video4:hover {
  border-radius: 115px;
  box-shadow: 0 38px 46px 0 rgba(0,0,0,0.2);
}

#htext1, #htext2, #htext3, #htext4 {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
}

#htext1:hover, #htext2:hover, #htext3:hover, #htext4:hover {
  text-shadow: 1px 1px lightgray;
}

#hicon1, #hicon2, #hicon3, #hicon4 {
  font-size: 30px;
  padding-top: 80px;
}

#hicon1:hover, #hicon2:hover, #hicon3:hover, #hicon4:hover {
  font-size: 34px;
}

#hicon1 {
  color: #494643;
}

#hicon2 {
  color: #369dd1;
}

#hicon3 {
  color: #991706;
}

#hicon4 {
  color: green;
}

#dtext1, #dtext2, #dtext3, #dtext4 {
  font-size: 15px;
  margin-bottom: 25px;
}

#heart-text {
  margin-top: 70px;
  bottom: 0px;
  font-size: 25px;
  margin-bottom: 40px;
}

#heart {
  color: #c4322f;
}

#heart:hover {
  color: #e82002;
  font-size: 28px;
}
