.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

* {
  text-align: center;
}

html, body {
  /*height: 100%;*/
}

.gradientbk {
  background: -moz-linear-gradient(90deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, rgba(255,255,255,1)), color-stop(59%, rgba(254,254,255,1)), color-stop(99%, rgba(237,238,255,1)), color-stop(100%, rgba(237,238,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* ie10+ */
  background: linear-gradient(0deg, rgba(237,238,255,1) 0%, rgba(237,238,255,1) 1%, rgba(254,254,255,1) 41%, rgba(255,255,255,1) 42%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EDEEFF',GradientType=0 ); /* ie6-9 */
}

#heart-text {
  /*margin-top: 70px;*/
  bottom: 0px;
  font-size: 25px;
  /*margin-bottom: 40px;*/
}

#admins {
  bottom: 0px;
  font-size: 25px;
  color: red;
}

#heart {
  color: #c4322f;
}

#heart:hover {
  color: #e82002;
  font-size: 28px;
}
