/*
Warvale website - 2017
Rules page
All rights reserved
*/

html, body { height: 100%; }

#title {
  padding-top: 100px;
  font-size: 40px;
  font-weight: bold;
}

#description {
  font-size: 20px;
  color: gray;
}

#description-2 {
  font-size: 18px;
  color: darkgray;
}

#sectiontitle {
  margin-top: 30px;
  font-weight: bold;
  font-size: 25px;
}

#rule {
  font-size: 20px;
  margin-top: 30px;
}

#itemlist {
  font-size: 20px;
  color: gray;
}
